{mode, max}.

{log_level, debug}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_hdfs_thrift}.

{key_generator, {int_to_str, {sequential_int, 5000000}}}.

{value_generator, {fixed_bin, 40960}}.

{operations, [{put, 1}]}.

{code_paths, ["deps/stats",
              "deps/hdfsbench"]}.

{hdfs_host, "localhost"}.
{hdfs_port, 45000}.
